<%- include('header') %>
<div class="flex flex-row">
    <div class="w-1/2 mt-28">
      <h2 class="my-6 ms-12 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl underline">
        About JokeClub
      </h2>
  
      <p class="italic ms-12">
        JokeClub version 2.0 is a successor of jokeClub version 0.1.This applicaion have new features
        like Darkmode, Google authentication, quick resoponse , Modern paralax ui ,used most popular 
        CSS framework ( Tailwind CSS) and used Typescript .Now jokes are easly fetch by just one click
        and Ready to Smile!
      </p>
    </div>
  
    <div class="w-1/3 ms-28">
      <img class="w-96 rounded-full sm:h-72 md:h-96 lg:w-full lg:h-96 object-fit transition duration-300 ease-in-out hover:scale-110" src="https://www.usatoday.com/gcdn/presto/2019/01/24/USAT/e1ba58bc-0dcf-4f80-b300-427448e77925-GTY_1027411906.JPG?crop=3119,1754,x0,y322&width=3119&height=1754&format=pjpg&auto=webp" alt="">
    </div>
  </div>
</main>
</body>
</html>