<%- include('header') %>
            </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="h-56 w-full sm:h-72 md:h-96 lg:w-full lg:h-full object-fit" src="https://www.usatoday.com/gcdn/presto/2019/01/24/USAT/e1ba58bc-0dcf-4f80-b300-427448e77925-GTY_1027411906.JPG?crop=3119,1754,x0,y322&width=3119&height=1754&format=pjpg&auto=webp" alt="">
        </div>
    </div>
</body>
</html>