<%- include('header') %>
<div class="flex flex-row">
    <div class="w-1/2 mt-72">
      <h2 class="my-6 ms-12 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl underline">
        About JokeClub
      </h2>
  
      <p class="italic ms-12">
        JokeClub version 2.0 is a successor of jokeClub version 0.1.This applicaion have new features
        like Darkmode, Google authentication, quick resoponse , Modern paralax ui ,used most popular 
        CSS framework ( Tailwind CSS) and used Typescript .Now jokes are easly fetch by just one click
        and Ready to Smile!
      </p>
    </div>
  
    <div class="w-1.5/3 ms-28">
      <img class="rounded-full sm:h-52 mt-12 md:h-96 lg:w-4/6 lg:h-5/6 object-fit transition duration-300 ease-in-out hover:scale-110" src="/public/images/about_Selena.jpg" alt="">
    </div>
  </div>
</main>
</body>
</html>