<%- include('header') %>
   <div class="main relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 mt-16 transition duration-300 ease-in-out hover:scale-110">
        <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
                <img src="https://w0.peakpx.com/wallpaper/112/413/HD-wallpaper-happy-smile-black-yellow.jpg"alt="card-image"
                class="autoRotate animate-bounce"/>
        </div>
        <div class="p-6">
          <div class="flex items-center justify-between mb-2">
            <p id="jsc" class="block font-sans text-base antialiased font-medium leading-relaxed text-yellow-500">
             JCV2.0
            </p>
            <p class="jo block font-sans text-base antialiased font-medium leading-relaxed text-yellow-500">
             Jokes
            </p>
          </div>
          <p id="jokeInterface" class="jokes block font-sans text-sm antialiased font-normal leading-normal text-gray-900">
           <span class="font-bold text-lg">The joke will appear here</span>
          </p>
        </div>
        <div class="p-6 pt-0">
            <button id="loadJoke" class="block transform active:scale-x-75 transition-transform  bg-yellow-400 hover:bg-sky-500 hover:text-white text-black w-full py-3 px-6 text-xs font-bold uppercase text-center rounded-lg shadow-md"
            type="button">
            <span class=" hover:text-white">New Joke</span>
         </button>
        </div>
    </div>
        
   </main>
</body>
</html>
